@import './base.css';

#app {
  font-weight: normal;

  width: 360px;
  height: 800px;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  margin: 0 auto;
}